header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    font-family: 'Roboto', sans-serif;
}

/* ***меню*** */

nav {
    height: 42px;
}

.navbar-toggler.first-button {
    padding: 0;
}

.navbar-toggler.first-button:focus {
    box-shadow: none;
}

div.container-fluid {
    padding: 0;
}

.animated-icon {
    width: 50px;
    height: 40px;
    position: relative;
    margin: 0px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 100;
}

.animated-icon:hover span {
    background: #ffbbcf;
}

.animated-icon span{
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .4s ease-in-out;
}

.animated-icon span {
    background: white;
    box-shadow: 1px 3px 5px #0f8ca5;
}

.animated-icon span:nth-child(1) {
    top: 0px;
}

.animated-icon span:nth-child(2) {
    top: 17px;
}

.animated-icon span:nth-child(3) {
    top: 35px;
}

.animated-icon.open span:nth-child(1) {
    top: 20px;

    transform: rotate(135deg);
}

.animated-icon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.animated-icon.open span:nth-child(3) {
    top: 20px;

    transform: rotate(-135deg);
    box-shadow: none;
}

/* ***заголовок*** */

header h1 {
    margin: 0 auto;
    font-weight: 700;
    font-size: 44px;
    
    font-family: 'Work Sans', sans-serif;
    text-shadow: 1px 3px 5px #0f8ca5;
}

header h1 a {
    text-decoration: none;
    color: white;
}

header h1 a:hover {
    cursor: pointer;
    color: #ffbbcf;
}

/* ***переключатель режимов*** */

.switch {
    display: inline-block;
    position: relative;

    width: 100px;
    height: 40px;
}

.switch_input {
    height: 0;
    width: 0;
    opacity: 0;
}

.switch_input + .switch_slider {
    box-shadow: 1px 3px 5px #0f8ca5;
}

.switch_input + .switch_slider:active {
    box-shadow: none;
}

.switch_slider:active .switch_train, .switch_play{
    opacity: 0;
}

.switch_input:checked + .switch_slider{
    background-color: #fc346f;
}

.switch_input:checked + .switch_slider::before{
    transform: translateX(56px);
    box-shadow: 1px 2px 2px #0f8ca5;
}

.switch_input:checked + .switch_slider .switch_play{
    opacity: 1;
}

.switch_input:checked + .switch_slider .switch_train{
    opacity: 0;
}

.switch_train, .switch_play{
    color: white;
    text-transform: uppercase;
}

.switch_train {
    position: absolute;
    right: 10px;
    top: 9px;
}

.switch_play {
    opacity: 0;
    position: absolute;
    left: 10px;
    top: 9px;
}

.switch_slider {
    position: absolute;
    cursor: pointer;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    border-radius: 50px;
    background-color: #0dcaf0;

    transition: 0.4s;
}

.switch_slider::before {
    content: "";
    position: absolute;
    cursor: pointer;

    left: 5.5px;
    bottom: 3px;
    height: 34px;
    width: 34px;

    border-radius: 50%;
    background-color: white;
    box-shadow: -1px 2px 2px #0f8ca5;

    transition: 0.4s;
}

/* ***кнопка статистики*** */

.btn_stats {
    width: 80px;
    height: 40px;
    margin-left: 20px;
    border-radius: 50px;

    text-transform: uppercase;
    background-color: #0dcaf0;
    border: none;
    color: white;

    box-shadow: 1px 3px 5px #0f8ca5;
}

.btn_stats:hover {
    background-color: #0eb6d8;
}

.btn_stats:active {
    background-color: #33ddff;
    box-shadow: none;
}


.esc_button {
    position: absolute;
    width: 50px;
    height: 40px;
    z-index: 150;
    display: none;
    cursor: pointer;
}